.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url('./assets/Soon_bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* In your CSS file */
.leftarrow {
  position: absolute;
  top: 0;
  left: 0;
}

.rightarrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .leftarrow {
    margin-top: -270px;
    width: 38%;
    margin-left: -35px;
  }
  .rightarrow {
    width: 25%;
    margin-left: 35px;
    /* margin-bottom: -35px; */
    bottom: -40px;
  }
}


.App-link {
  color: #61dafb;
}